.main-container {
  picture img {
    width: 100%;
  }
  .cta-container {
    text-align: center;
    width: 94%;
    margin: 3rem auto;
    .stakeholder-logos-container {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 60rem) {
  main {
    padding-top: 4rem;
    .main-container {
      @include wide-container;
      display: flex;
      flex-direction: row-reverse;
      // align-items: flex-end;
      gap: 10rem;
      padding: 0 5rem;
      box-sizing: border-box;
      .cta-container {
        text-align: initial;
        margin-left: 3rem;
        .stakeholder-logos-container {
          margin: 0 0 auto;
        }
      }
    }
  }
}
