.main-container {
  picture img {
    width: 100%;
  }
  .cta-container {
    text-align: center;
    width: 94%;
    margin: 3rem auto;
    .stakeholder-logos-container {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}
