nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-links,
.company-links {
  display: none;
}

.features-dropdown:hover .features-links {
  display: block;
}

.company-dropdown:hover .company-links {
  display: block;
}
